@charset "utf-8";
/* CSS Document */
.tr{
	 background-color:#2980b9; 
	 color:#FFFFFF; 
	 border-color:#2980b9;
	 }
.kotakprofil
{	width:335px;
	height:auto;
	background-color:#FFFFF;
	float:left;
	}

